
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <h1 style="margin-left: 400px; margin-bottom: 30px; color: palegreen">University Management System</h1>
        <ul>
             
            <li class="list-group-item" style="font-size: xx-large"><a href="/Department/Index">Department</a></li>
            <li class="list-group-item" style="font-size: xx-large"><a href="/Course/Index">Course</a></li>
            <li class="list-group-item" style="font-size: xx-large"><a href="/Teacher/Index">Teacher Entry</a></li>
            <li class="list-group-item" style="font-size: xx-large"><a href="/TeacherAssign/Index">Teacher Assign</a></li>
            <li class="list-group-item" style="font-size: xx-large;"><a href="/Student/Index">Student Entry</a></li>
            <li class="list-group-item" style="font-size: xx-large"><a href="/EnrollCourse/Index">Enroll Course</a></li>
            <li class="list-group-item" style="font-size: xx-large"><a href="/Course/CourseStaticsView">Course Statics</a></li>
            <li class="list-group-item" style="font-size: xx-large"><a href="/AllocateClassRoom/Index">Allocate Class Room</a></li>
            <li class="list-group-item" style="font-size: xx-large"><a href="/Result/Index">Result Assign</a></li>
            <li class="list-group-item" style="font-size: xx-large"><a href="/Result/ViewResult">View Result</a></li>
            <li class="list-group-item" style="font-size: xx-large"><a href="/EnrollCourse/UnassignCourse">Unassign Courses</a></li>
            <li class="list-group-item" style="font-size: xx-large"><a href="/AllocateClassRoom/UnallocateRoom">Unallocate Room</a></li>
        </ul>
    </div>
</body>
</html>
